@charset "UTF-8";
/* CSS Document */

body{ 
	margin: 0; 
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}


.container {
	
}

#main_content {
    padding-top: 60px;
}


h5 {
    font-weight: 300;
}

hr {
    margin-bottom: 10px;
    margin-top: 0px;
	border-color: #999 -moz-use-text-color -moz-use-text-color;
}

html,body{
    height: 100%
}

footer {
    bottom: 0;
    width: 100%;
}


h3.top-header {
	color: #999999;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: -18px;
}


li.instructions {
	padding-bottom: 30px;
}


.download {
	font-weight: 700;
}

.row.documentation {
	padding-bottom: 10px;
}

h5 {
    margin-top: 0;
}

.docItem {
	padding-bottom: 20px;
}

.docItem img {
	vertical-align:middle;
	margin-right: 6px;
}

.sectionContent li {
	float:left;
	padding-right: 12px;
	margin-left:-30px;
	padding-bottom: 14px;
	clear:both;
}

.section ul {
	list-style-type: none;
	margin-left: 0px;
}


.sectionContent.grid li {
	float:left;
	padding-right: 12px;
	padding-bottom: 14px;
	clear: none;
}

.title {
	padding-bottom: 10px;
}

.examples dd {
	color: #999;
	margin-bottom: 14px;
	margin-left: 155px;
	padding-left: 0;
}

.examples h4 {
	font-weight: 300;
}

.exampleLinks {
	margin-bottom: 20px;
}

.exampleLinks.last {
	border-bottom: none;
	margin-bottom: none;
}

.linksContainer {
	margin-top: -20px;
}

h3, .h3 {
    font-size: 24px;
}
h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.dl-horizontal dt {
    
}

dt {
    font-weight: bold;
}
dt, dd {
    line-height: 1.42857;
}

.example img  {
    float: left;
    padding-right: 20px;
	 border: none;
    box-shadow: none;
    margin: 0;
	padding-bottom: 26px;
}

.exmapleblock {
	clear:both;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.1px;
}

.project_tagline2 {
	margin-top: 2px;
}

#header_wrap .inner {
    padding: 20px 10px 10px;
}

.studioRightImg {
	border: 0;
    box-shadow: none;
    margin: 0;
	padding: 0;
}

.studioContainer {
   height: auto;
   overflow: hidden;
}

.studioRight {
    float: right;
    font-size: 12px;
    line-height: 0.9em;
    padding-bottom: 12px;
    text-align: center;
    width: 100px;
}

.studioLeft {
    float: none; 
    width: auto;
    overflow: hidden;
}

.btn-xs, .btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 11px;
    font-style: normal;
    line-height: 1.5;
    padding: 0px 5px;
    text-decoration: none;
}

 a:focus.btn-xs,a:hover.btn-xs  {
    text-decoration: none;
}


.btn-default {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}